/** ********** Fonts ********** **/
* {
	font-family: Rajdhani, FontAwesome, Roboto; 
    font-size: 14px;
    font-weight: bold;
}

/** ********** Main Window ********** **/
window {
	background-color: transparent;
	color: white;
	transition-property: background-color;
	transition-duration: 1s;
}

/** ********** Buttons ********** **/
button {
	background-color: #211f1f;
	border-radius: 5px 5px 5px 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;

    color: #FFFFFF;
	border: 2px solid #282838;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
}

button:focus, button:active, button:hover {
	background-color: #89B4FA;
	outline-style: none;
}
